body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.navigation {
  display: flex;
  position: absolute;
  width: 90.5%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
   background:  rgba(13, 36, 96, 0.252);
   box-shadow:0 6px 18px rgba(22, 56, 205, 0.61);
  
  z-index: 0;
  padding: 20px 60px ; 
  border-radius: 10px;
  z-index: 100;
}

.navigation a {
    font-family: 'Times New Roman';
  justify-content: space-between;
  text-decoration: none;
  margin-right: 0;
  display: block;
  padding: 1em;
  color: white;
  z-index: 100;
}

.navigation a:hover {
  background: #1017595a;
  backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 15px;
}