
body{ 
   margin: 0;
    padding: 0;
    background:linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(13, 36, 96, 1));
    overflow: scroll;
     font-family: 'Arial';
  
}
.header{
  background-color: #0102060D;
}

.intro{
    margin-top: 0;
    height: 20vh;
    position: relative;
    padding: 0px;
    overflow: hidden;
    z-index: 2;
}




.container{
  text-align: left;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .box1:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
}
 .box2:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
    z-index: 4;
 }
  .box3:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
    z-index: 4;
  }
  .box4:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
    z-index: 4;
  }
  .box5:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
    z-index: 4;
  }
  .box6:hover{
    transition: 1s ease;
    transform: scale(1.1);
    padding: 50px;
    z-index: 4;
  }
  .container a{
   text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(42, 42, 155);
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(255, 255, 255);
  }
  
  .box1{
    
    background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 150px;
    color: #FFFFFF;
    border-radius: 50px;
    display: block;
    transition: transform 0.5 ease;
    box-shadow:0 2px 10px rgb(49, 84, 237);
    z-index: 4;
    
  }
  .box2{
     color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 150px;
    border-radius: 50px;
     box-shadow:0 2px 10px rgb(49, 84, 237);
     z-index: 4;
  }
  .box3{
     color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 150px;
    border-radius: 50px;
     box-shadow:0 2px 10px rgb(49, 84, 237);
  }
  
  
  .container b{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .container b a{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  }
  .box4{
    color: #FFFFFF;
   background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 150px;
    border-radius: 50px;
     box-shadow:0 2px 10px rgb(49, 84, 237);
    
  }
  .box5{
     color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    height: 150px;
    width: 150px;
    padding: 50px;
    border-radius: 50px;
     box-shadow:0 2px 10px rgb(49, 84, 237);
 
    
  }
  .box6{
     color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.066) ;
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 150px;
    border-radius: 50px;
     box-shadow:0 2px 10px rgb(49, 84, 237);
  }
.navigation {
  display: flex;
  position: absolute;
  width: 90.5%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
   background:  rgba(0, 0, 0, 0.252);
   box-shadow:0 6px 18px rgba(22, 56, 205, 0.61);
  
  z-index: 0;
  padding: 20px 60px ; 
  border-radius: 10px;
  z-index: 100;
}

.navigation a {
  justify-content: space-between;
  text-decoration: none;
  margin-right: 0;
  display: block;
  padding: 1em;
  color: white;
  z-index: 100;
}

.navigation a:hover {
  background: #03062087;
  backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 15px;
}
.footer-container{
    
    background-color: #000000;
    padding: 6rem;
    margin-top: 20%;
}
.footer{
  color: #efe4e4;
  margin-bottom: 10%;
  
}

.fa {
  color: aliceblue;
  margin-top: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px;
  border-radius: 50%;
  z-index: 5;


}
.fa:hover{
  color: #2509dd;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
    .container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
      .box1{
        font-family: 'Times New Roman';
    color: #202BA4;
    background-color: #898A94;
    padding: 50px;
    width: 100px;
    border-radius: 50px;
    box-shadow:0 6px 18px rgba(2, 6, 23, 0.61);
  }
  .box2{
    margin-top: 10px;
    background-color: #898A94;
    padding: 50px;
    width: 100px;
    border-radius: 50px;
    box-shadow:0 6px 18px rgba(2, 6, 23, 0.61);
    
  }
  .box3{
    margin-top: 10px;
    background-color: #898A94;
    padding: 50px;
    width: 100px;
    border-radius: 50px;
    box-shadow:0 6px 18px rgba(2, 6, 23, 0.61);
    
  }
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

}