.navigation {
  display: flex;
  position: absolute;
  width: 87%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #42445A4A;
  backdrop-filter: blur(10px);
  z-index: 0;
  padding: 24px 60px ; 
  border-radius: 10px;
  z-index: 100;
  
}
.logo{
  color: hsla(223, 64%, 31%, 1);
  margin-left: 10px;
  margin-top: 25px;
  font-size: 40px;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  z-index: 200;
  
  
}
.content {
  font-size: 50px;
  color: #CABDBD;
  z-index: 3;
}



.navigation a {
  
  justify-content: space-between;
  text-decoration: none;
  margin-right: 0;
  display: block;
  padding: 1em;
  color: white;
  z-index: 100;
}

.navigation a:hover {
  background: #03062087;
  backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 15px;
  
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.blue{
  position: relative;
  padding: 0px;
  height: 40vh;

  background: url("your-image.jpg") center / cover no-repeat;
  overflow: hidden;
  z-index: 50;
}
.blue:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1),
    rgba(13, 36, 96, 1)
  );
  mix-blend-mode: multiply;
  z-index: 1;
}
.blue:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.9) 100%
  );
  z-index: 2;
}
.bg {
  position: relative;
  z-index: 1;
  color: white;
  padding: 40px;
}



body{
  overflow-x: hidden;
  background: rgba(0, 0, 0, 1);
  z-index: 1
}



.footer {
  background-color: #ABADBA;
  
  padding: 10rem;
  margin-top: auto;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 700px) {
  .content {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
  font-size: 10px;
  color: #CABDBD;
  z-index: 3;
}
.logo{
  color: hsla(223, 64%, 31%, 1);
  margin-left: 5px;
  margin-top: 20px;
  font-size: 20px;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  z-index: 200;
  
  
}
  .navigation {
    width: 360px;
    flex-flow: column wrap;
    padding: 0;
    text-align: center;
    
  }
  .blue{
  position: relative;
  padding: 10px;
  height: 40vh;
  background: url("your-image.jpg") center / cover no-repeat;
  overflow: hidden;
  z-index: 50;
}
.blue:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1),
    rgba(13, 36, 96, 1)
  );
  mix-blend-mode: multiply;
  z-index: 1;
}
.blue:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 70%,
    rgba(0,0,0,0.9) 90%
  );
  z-index: 2;
}
  .navigation a { 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}